:root{
    --fontHeading: 'Montserrat', sans-serif;
    --fontParrafo: 'Montserrat', sans-serif;

    --primary: #192834;
    --secondary: #15202B;
    --gray: #8899A6;
    --blue: #1EA1F1;
    --white: #fff;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/*Furefox*/
input[type=number] {
    -moz-appearance: textfield;
}
/*global*/
.container{
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
/*tulities*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__text{
    text-align: center;
    color: var(--blue);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__text{
        margin-top: 15rem;
    }
}
.bar{
    padding: 0rem 10rem;
    background-color: var(--secondary);
    flex-shrink: 1;
}
@media (min-width: 768px) {
    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(1rem);
        background-color: #15202bb4;
        z-index: 2;
        width: 100%;
    }
}
.logo{
    color: var(--white);
}
.logo__name{
    font-weight: 400;
}
.logo__bold{
    font-weight: 600;
}
@media (max-width: 410px) {
    .logo__name{
        font-weight: 400;
        font-size: 3rem;
    }
    .logo__bold{
        font-weight: 600;
        font-size: 3rem;
    }
}
@media (min-width: 768px) {
    .navigation{
        display: flex;
        gap: 2.5rem;
    }
}
.navigation__link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}
.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    background-color: transparent;
    font-family: var(--fontHeading);
    font-size: 1.8rem;
    border-radius: 1.2rem;
    border: 1;
    box-sizing: border-box;
    color: var(--blue);
    border-color: var(--blue);
    outline: 0;
    cursor: pointer;
    text-align: center;
    height: 5rem;
    width: 25rem;
    padding: 1rem;
}
.button:hover{
    background-color: var(--blue);
    color: var(--white);
    transition: .3s;
}
.button1{
    background-color: transparent;
    font-family: var(--fontHeading);
    font-size: 1.8rem;
    border-radius: 1.2rem;
    border: 1;
    box-sizing: border-box;
    color: #00c07a;
    border-color: #00c07a;
    outline: 0;
    cursor: pointer;
    text-align: center;
    height: 5rem;
    width: 25rem;
    padding: 1rem;
}
.button1:hover{
    background-color: #00c07a;
    color: var(--white);
    transition: .3s;
}
/*Container combobox*/
.containerMachinesCombo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 11.6rem 0 2rem 11rem;
    gap: 2rem;
}
.containerTable{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 11.6rem 0 0rem 0rem;
    gap: 2rem;
}
.containerCombo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0rem 0rem 0rem 11rem;
    gap: 2rem;
}
.derechaButtonOut {
    width: 100%;
    text-align: right;
    padding: 0 11.6rem 0 0;
}
@media (max-width: 768px) {
    .containerMachinesCombo{
        padding: 2rem;
    }
}
.selectMachine{
    width: 100%;
    border: .2rem solid var(--gray);
    border-radius: 1.2rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.8rem;
    font-family: var(--fontHeading);
    outline: none;
    padding: 1rem;
    height: 5rem;
}
@media (min-width: 768px) {
    .selectMachine{
        width: 30rem;
    }
}
/*container image machine*/
.machine{
    padding-top: 2rem;
    width: 80%;
    height: 60rem;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-2 + label {
    font-family: var(--fontParrafo);
    color: var(--blue);
    border-color: var(--blue);
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 2px solid currentColor;
    border-radius: 1.2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    transition: .3s;
}
.modalmask {
    position: fixed;
    font-family: var(--fontParrafo);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.close {
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius:50%;
}
.close:hover{
    backdrop-filter: blur(25rem);
    background-color: rgba(255, 255, 255, .2);
}
.modalbox{
    position: relative;
    width: 75%; 
    padding: 2rem;
    background: var(--secondary);
    color: var(--white);
    border-radius:.6rem;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown{       
    margin: 5% auto;
}
.container-fields{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 3rem;
}

.input-container {
    height: 5rem;
    position: relative;
    width: 100%;
} 
.input {
    font-family: var(--fontParrafo);
    background-color: #101922;
    border-radius: .6rem;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: var(--secondary);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
    display: inline-block;
} 
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #04AA6D;
}
.input:focus ~ .placeholder {
    color: #dc2f55;
}
.submit {
    font-family: var(--fontParrafo);
    font-size: 1.8rem;
    background-color: var(--blue);
    border-radius: 1.2rem;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.submit:active {
    background-color: #06b;
}
/* table */
.container-table{
    width: 90%;
    color: var(--white);
    padding: 2rem;
    padding-bottom: 9rem;
}
table {
    border-radius: .6rem;
    border-collapse: collapse;
    font-family: var(--fontHeading);
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: var(--secondary);
    padding: 4rem;
}
th {
    background-color: #101922;
    color: var(--white);
}
tr:hover{
    background-color: #bdcdd623;
}
/* Alerts */
.swal-modal {
    color: var(--white);
    background-color: var(--secondary);
}
.swal-title{
    color: var(--white);
}
.swal-text{
    color: var(--white);
}
.swal-button--cancel{
    color: var(--white);
    background-color: #2f3146;
}
.swal-button--cancel:not([disabled]):hover{
    background-color: #1f202e;
}
.swal-overlay{
    backdrop-filter: blur(1rem);
    background: rgba(0, 0, 0, 0.75);
}
.swal-icon--success:after, .swal-icon--success:before {
    background-color: var(--secondary);
}
.swal-icon--success__hide-corners {
    background-color: var(--secondary);
}
/* floating button */
.floating-button {
    font-family: var(--fontParrafo);
    font-size: 1.8rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: .15rem solid;
    border-color: #dc2f55;
    color: #dc2f55;
    padding: 10px 20px;
    border-radius: 1.2rem;
    text-decoration: none;
}
.floating-button:hover {
    background-color: #dc2f55;
    color: var(--white);
    transition: 20;
}